/* @google fonts */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); /* Figtree Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); /* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Inter Font */



/* @theme variables */

:root {  
	--mt-base-font: "Inter", sans-serif;
	--mt-base-font-weight: 400;
	--mt-base-line-height: 1.85;
    --mt-base-font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
	
	--mt-head-font: "Figtree", sans-serif;
	--mt-head-font-weight: 700;
	--mt-head-line-height: 1.14;

	--mt-radius: 5px;
	--mt-radius-md: 16px;
	--mt-radius-lg: 30px;

	--mt-input-padding: 12px 20px;
	--mt-padding-btn: 16px 24px;
	--mt-transition: 375ms cubic-bezier(0.7, 0, 0.3, 1);

	--mt-primary: #012e2b;
	--mt-primary-rgb: 1, 46, 43;
	--mt-scondery: #018057;
	--mt-scondery-rgb: 1, 128, 87;
	--mt-teritary: #003c35;
	--mt-teritary-rgb: 0, 60, 53;
	--mt-quaternary: #fb8701;
	--mt-quaternary-rgb: 251, 135, 1;
	--mt-quinery: #D6A73C;
	--mt-quinery-rgb: 214, 167, 60;

    --mt-bg-light: #dbe2da;

	--mt-body-bg: #f6f1ee;
	--mt-body-bg-rgb: 246, 241, 238;
	--mt-body-text: #4d4d4d;
	--mt-heading: #0c0d11;
	--mt-heading-rgb: 12, 13, 17;
	--mt-link-clr: #0c0d11;
	--mt-link-hover-clr: #018057;
	--mt-border-clr: #d9d9d9;

	--mt-accent-white: #ffffff;
	--mt-accent-white-rgb: 255, 255, 255;
	--mt-accent-black: #000000;
    --mt-accent-black-rgb: 0, 0, 0;

    --mt-container: 1600px;
    --mt-sidebar-width: clamp(16.875rem, 16.1538rem + 3.2051vw, 20rem);
    --mt-sidebar-gap: clamp(1.875rem, 1.4423rem + 1.9231vw, 3.75rem);
}

/* //////////////////////////////////////

    1. Reset & Box Sizing
        1.1 Global Reset
    2. Embedded Content & Images
    3. Typography
    4. Button
    5. Dark Bg Style
    6. Heading
    7. Select2 Js

////////////////////////////////////// */


/** 
    1. Reset & Box Sizing
*/

    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

    html { scroll-behavior: smooth; tab-size: 4; }

    /* 1.1 Global Reset */

/**
    2. Embedded Content & Images
*/

    audio, canvas, iframe, img, svg, video { vertical-align: middle; }
    audio, video { display: inline-block; }
    audio:not([controls]) { display: none; height: 0; }
    iframe { border-style: none; }
    img { border-style: none; }

    svg:not([fill]) { fill: currentColor; }
    svg:not(:root) { overflow: hidden; }

    svg { width: 1em; height: 1em; }

    figure { margin: 1em 0; }

    img { height:auto; max-width:100%; }
    a img { border: 0; }

    @supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))
    and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
        img { image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */ }
    }

    embed, iframe, object, video { max-width: 100%; }

    .offcanvas { height: 100vh; }


/** 
    3. Typography 
*/

body { color: var(--mt-body-text); background-color: var(--mt-body-bg); max-width: 1920px; margin: 0 auto; overflow-x: hidden; 
    background-image: url('../images/bg-patten-3.webp'); background-repeat: repeat; background-size: auto; }

body, button, input, textarea, select {
    font-family: var(--mt-base-font);
    font-weight: var(--mt-base-font-weight);
    line-height: var(--mt-base-line-height);
    letter-spacing: 0;
    text-transform: none;

    font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { 
    font-family: var(--mt-head-font); 
    font-weight: var(--mt-head-font-weight); 
    line-height: var(--mt-head-line-height); 
    letter-spacing: 0; 
    text-transform: none; 

    color: var(--mt-heading);
}

.h1, h1 { font-size: clamp(2rem, 1.5096rem + 2.1795vw, 4.125rem); }
.h2, h2 { font-size: clamp(1.75rem, 1.4327rem + 1.4103vw, 3.125rem); }
.h3, h3 { font-size: clamp(1.5625rem, 1.3462rem + 0.9615vw, 2.5rem); }
.h4, h4 { font-size: clamp(1.375rem, 1.2596rem + 0.5128vw, 1.875rem); }
.h5, h5 { font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem); }
.h6, h6 { font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem); }

.mt_dark .h1, .mt_dark h1,
.mt_dark .h2, .mt_dark h2,
.mt_dark .h3, .mt_dark h3,
.mt_dark .h4, .mt_dark h4,
.mt_dark .h5, .mt_dark h5,
.mt_dark .h6, .mt_dark h6 { color: var(--mt-accent-white); }


/** 
    4. Button
*/

a { text-decoration: none; color: var(--mt-link-clr); transition: var(--mt-transition); }

a:hover, a:focus { color: var(--mt-link-hover-clr); }


input[type="submit"], input[type="reset"], input[type="button"], button[type="button"], *[role="button"], button, .button, a.button, .mt_button { 
    border-width: 0; cursor: pointer; display: inline-block; font-family: var(--mt-base-font); font-size: 0.9rem; font-style: normal; font-weight: normal; 
    line-height: normal; margin: 10px 0 0; outline: none; padding: var(--mt-padding-btn); text-decoration: none; text-transform: capitalize; 
    -webkit-appearance: none; appearance: none; -webkit-border-radius: var(--mt-radius); border-radius: var(--mt-radius); transition: var(--mt-transition); }

.mt_button { background-color: var(--mt-primary); color: var(--mt-accent-white); text-align: center; margin: 0; font-weight: 700;
    display: inline-flex; flex-direction: column; position: relative; overflow: hidden; transition: none; }

.mt_button > span { transition: opacity 0.3s, transform 0.3s; transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    background-color: transparent; width: 100%; display: flex; align-items: center; justify-content: center; }

.mt_button > span:nth-child(2) { position: absolute; top: 50%; left: 0; opacity: 0; transform: translate(0, 100%); transition: opacity 0.3s, transform 0.3s; 
    transition-timing-function: ease, ease; transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); white-space: nowrap; }

.mt_button:focus > span, .mt_button:hover > span { transform: translateY(-150%); opacity: 0; }
.mt_button:focus > span:nth-child(2), .mt_button:hover > span:nth-child(2) { opacity: 1; transform: translate(0%, -50%); }

.mt_button:focus > span, .mt_button:hover > span { color: var(--mt-accent-white); }

.mt_button_link { cursor: pointer; display: inline-block; font-family: var(--mt-base-font); font-size: clamp(0.875rem, 0.8462rem + 0.1282vw, 1rem); 
    font-weight: var(--mt-head-font-weight); font-style: normal; line-height: normal; text-transform: capitalize; margin: 10px 0 0; }


/** 
    5. Dark Bg Style
*/

.mt_dark, .mt_dark a { color: var(--mt-accent-white); }
.mt_dark a:focus, .mt_dark a:hover { color: var(--mt-link-hover-clr); }


/** 
    6. Heading
*/

    .mt__text_start { text-align: left; }
    .mt__text_center { text-align: center; }
    .mt__text_end { text-align: right; }

    .mt__heading_wrapper > *:not(:last-child) { margin-bottom: 20px; }


    .mt__sub_heading { font-weight: 500; line-height: normal; color: var(--mt-heading); font-size: 14px; }
    .mt__sub_heading .mt__text_marquee { overflow: hidden; position: relative; }

    .mt__sub_heading .mt__marquee { white-space: nowrap; padding: 0 5px; display: flex; align-items: center; text-transform: capitalize;
        -webkit-animation: moveMarquee 8s linear infinite; animation: moveMarquee 8s linear infinite; }
    .mt__sub_heading .mt__marquee.clone { position: absolute; left: 100%; }

    .mt__sub_heading .mt__marquee:before { content: ""; position: relative; display: inline-block; background-color: var(--mt-primary); 
        width: 5px; height: 5px; border-radius: 50%; margin-right: 10px; }

    @keyframes moveMarquee {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }

    .mt__content { text-wrap: balance; }


    .mt__heading { margin: 0px; text-transform: capitalize; }


/** 
    7. Select2 Js
*/

    .select2-container--default .select2-search .select2-search__field, 
    .select2-container--default .select2-search--dropdown .select2-search__field, 
    .select2-container--default .select2-search--inline .select2-search__field { 
        border: 1px solid; display: block; margin: 0; padding: 6px 10px; width: 100%; 
        -webkit-appearance: none; appearance: none; -webkit-border-radius: var(--mt-radius); border-radius: var(--mt-radius); 
        min-height: 40px; font-family: var(--mt-head-font); font-size: .9rem; }

    .select2-container--default .select2-search .select2-search__field, 
    .select2-container--default .select2-search--dropdown .select2-search__field, 
    .select2-container--default .select2-search--inline .select2-search__field { 
        border: 1px solid rgba(var(--mt-accent-black-rgb), 0.15) !important; background-color: transparent; }

    select {
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-position: calc(100% - 15px); background-repeat: no-repeat; }

    select, .select2-container--default .select2-selection--single, 
    .select2-container--default .select2-selection--multiple { 
        border: 1px solid rgba(var(--mt-accent-black-rgb), 0.15); cursor: pointer; height: 49px; margin: 0; 
        padding: 10px 30px 10px 20px; text-align: left !important; text-indent: 0.01px; text-overflow: ''; width: 100%; 
        -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: var(--mt-radius); border-radius: var(--mt-radius); }

    .select2-container--default .select2-selection--single, 
    .select2-container--default .select2-selection--multiple { 
        background: none !important; /* border-width: 0 !important; */ height: auto !important; padding: 0; 
        -webkit-border-radius: var(--mt-radius) !important; border-radius: var(--mt-radius) !important; }

    .select2-container--default .select2-selection--single .select2-selection__arrow,
    .select2-container--default .select2-selection--multiple .select2-selection__arrow { 
        top: 50% !important; -webkit-transform: translateY(-50%); transform: translateY(-50%); right : 15px !important; }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered { white-space: normal; }

    .select2-container--default .select2-dropdown .select2-search--dropdown,
    .select2-container--default .select2-results > .select2-results__options { padding: 10px; }

    .select2-container--default .select2-dropdown--below .select2-results > .select2-results__options,
    .select2-container--default .select2-dropdown--above .select2-results > .select2-results__options { padding-top: 0; }

    .select2-container--default .select2-results > .select2-results__options .select2-results__option { 
        height: auto; line-height: inherit; padding: 5px 10px; font-size: 0.9rem; border-radius: var(--mt-radius); }
    .select2-container--default .select2-results > .select2-results__options .select2-results__option + .select2-results__option { margin-top: 1px; }


    .select2-container .select2-choice, .select2-drop, .select2-dropdown,
    .select2-drop.select2-drop-above, .select2-drop.select2-drop-below,
    .select2-container--open .select2-dropdown.select2-dropdown--above, 
    .select2-container--open .select2-dropdown.select2-dropdown--below { background-color: var(--mt-body-bg);
        -webkit-border-radius: var(--mt-radius); border-radius: var(--mt-radius); }

    .select2-container--open .select2-dropdown.select2-dropdown--above { 
        margin-top: -10px; -webkit-box-shadow: 0 4px 5px rgba(var(--mt-accent-black-rgb),0.15); 
        box-shadow: 0 4px 5px rgba(var(--mt-accent-black-rgb),0.15); border: none; }

    .select2-container--open .select2-dropdown.select2-dropdown--below { 
        margin-top: 10px; -webkit-box-shadow: 0 4px 5px rgba(var(--mt-accent-black-rgb),0.15);  
        box-shadow: 0 4px 5px rgba(var(--mt-accent-black-rgb),0.15); border: none; }

    .select2-drop .select2-results li, 
    .select2-dropdown .select2-results li { padding-bottom: 0; }

    .select2-container { width: 100%; }
    .select2-container .select2-choice { padding: 0 0 0 15px; }

    .select2-results { padding: 5px 0; }
    .select2-results .select2-result-label { padding: 5px 15px; }

    .select2-results__option { overflow: hidden; padding: 0 20px; }

    .select2-container.select2-container--default .select2-selection--single { background-color: transparent; margin: 0; }


    .select2-results__option, .select2-container.select2-container--default .select2-selection--single, 
    .select2-container.select2-container--default .select2-selection--multiple { height: 50px; line-height: 50px; }
    .select2-container.select2-container--default .select2-selection--multiple { min-height: 50px; }

    .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered { 
        color: var(--mt-heading); font-size: 0.9rem; line-height: inherit; padding-left: 20px; padding-right: 50px; }

    .select2-container--default .select2-selection--single .select2-selection__arrow b { 
        border-top-color: currentColor !important; }
    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { 
        border-bottom-color: currentColor !important; }

    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered { 
        display: block; float: none; line-height: 1.8em; margin: 0; padding: 0 15px; width: auto; white-space: normal; }

    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice { 
        font-size: 0.9em; margin: 10px 5px 0 0; }

    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline { 
        display: block; float: none; margin: 0; width: auto !important; }

    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline .select2-search__field { 
        padding: 10px 0 !important; }

    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-search--inline:first-child .select2-search__field { 
        border-color: transparent !important; }


    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice ~ li.select2-search--inline { 
        margin-top: 10px; margin-bottom: 10px; }

    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice ~ li.select2-search--inline .select2-search__field { 
        padding: 10px 15px !important; }

    .select2-container--default .select2-results__option--highlighted[aria-selected],
    .select2-container--default .select2-results__option[aria-selected='true'] { background-color: var(--mt-quinery) !important; }

